<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Taller web c:</title>
</head>
<body class="bg-slate-400 text-cyan-900 flex justify-center">
    <!-- Esto es un comentario - control y /  -->
    <div class="text-center	">
        <h1 class="text-2xl "> {{nombre}} </h1> 
        <h2> Especie: {{especie}} </h2>
        <h3> Color: {{color}} </h3>
        <!-- 
            Para insertar imagenes con la etiqueta img... 
            - src es la fuente de la imagen -> copiar direccion de imagen 
            - alt es el texto alternativo 
        -->
        <img class="w-32 ml-5" src="https://pbs.twimg.com/media/EzS3G6rUcAcfWVq.jpg" alt="Pinguino Pablo fachero">
    </div>
</body>
</html>